@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	tab-size: 2;
	accent-color: theme("colors.primary");
	text-decoration-skip-ink: none;
}

.example {
	@apply flex flex-grow flex-col items-stretch  rounded-lg border-4 border-dotted border-warning bg-warning bg-opacity-10 px-4 py-1;
}

.slide pre:has(+ .example) {
	@apply max-h-96;
}

.highlighted {
	@apply w-min bg-yellow-200 bg-opacity-10;
}

.slide :not(pre) code {
	@apply rounded bg-base-200 p-0.5 text-[80%];
}

.slide pre > code {
	@apply text-sm;
}

.slide pre {
	@apply -mx-1 mb-2 max-h-80 flex-shrink-0 overflow-x-auto overflow-y-auto rounded px-4 py-3 leading-tight;
}

.slide pre:has(+ pre) {
	@apply mb-1;
}

.slide pre:last-child {
	@apply mb-0 max-h-fit;
}

.slide h1 {
	@apply mb-4 text-5xl font-bold underline decoration-primary decoration-wavy underline-offset-4;
}

.slide h2 {
	@apply mb-2 text-3xl font-bold;
}

.slide h3 {
	@apply mt-2 text-2xl font-bold text-base-content underline decoration-primary;
}

.slide ul {
	@apply mb-2 list-inside list-disc;
}

.slide > p {
	@apply mb-2 leading-snug;
}

.slide a {
	@apply text-primary;
}

.slide a:hover {
	@apply underline;
}

.slide .mockup-window {
	@apply min-h-[15em] flex-grow overflow-clip;
}

.slide iframe {
	@apply h-[125%] w-[125%];
	transform: scale(0.8);
	transform-origin: 0 0;
}

.slide dl > dt {
	@apply font-bold underline decoration-primary underline-offset-4;
}

.slide dl > dd {
	@apply ml-4 mb-2;
}

.slide dd > p {
	@apply m-0;
}

.slide {
	@apply flex w-full flex-col;
}

.slide .img {
	@apply rounded-lg;
}
